In [1]:
import pandas as pd
import torch
import torch.nn as nn
from sklearn import model_selection
import numpy as np
torch.manual_seed(42)

In [2]:
data = pd.read_csv("ml-100k/u.data",sep="\t", header=None)
data.columns = ['user id', 'movie id', 'rating', 'timestamp']
data['movie id'].unique

<bound method Series.unique of 0         242
1         302
2         377
3          51
4         346
         ...
99995     476
99996     204
99997    1090
99998     225
99999     203
Name: movie id, Length: 100000, dtype: int64>

In [3]:
movies = pd.read_csv("ml-100k/u.item",
                    sep="|", encoding='latin-1', header=None)
movies.columns = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL',
                 'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy',
                 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
                 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
map_id_movie = {}
for id,row in movies.iterrows():
  map_id_movie[row['movie id']] = row['movie title']
map_id_movie[1398]

'Anna (1996)'

In [5]:
num_users = data['user id'].nunique()
num_movies = data['movie id'].nunique()
print(
    (f"Number of users: {num_users}\n"
    f"Number of movies: {num_movies}")
)

Number of users: 943
Number of movies: 1682

In [6]:
data_train,data_test = model_selection.train_test_split(data, test_size = 0.1,random_state = 42,stratify = data['rating'])
data_test

       user id  movie id  rating  timestamp
24188      299        88       3  889502902
14023      347       462       2  881654359
20170       96       185       5  884403866
87853      880       302       5  880166451
8174       177       289       2  880130534
...        ...       ...     ...        ...
18733       43       215       5  883955467
83494      860       516       3  885991040
36379      313       484       5  891016193
17294      112       286       4  884992484
71036      660         3       1  891405958

[10000 rows x 4 columns]

In [7]:
class MF(nn.Module):
  def __init__(self,users,movie_ids,embed_size):
    super(MF,self).__init__()
    self.user_embed = nn.Embedding(users,embed_size)
    self.user_bias = nn.Embedding(users, 1)
    self.movie_embed = nn.Embedding(movie_ids,embed_size)
    self.movie_bias = nn.Embedding(movie_ids,1)
    self.user_embed.weight.data.uniform_(0,0.05)
    self.movie_embed.weight.data.uniform_(0,0.05)
    self.user_bias.weight.data.uniform_(-0.01,0.01)
    self.movie_bias.weight.data.uniform_(-0.01,0.01)


  def forward(self,u,v):
    U = self.user_embed(u)
    V = self.movie_embed(v)
    b_u = self.user_bias(u).squeeze()
    b_v = self.movie_bias(v).squeeze()
    return (U*V).sum(1) + b_u + b_v

In [8]:
def train_epochs(model,lr,epochs,Nueralnet = False):
  optimizer = torch.optim.Adam(model.parameters(), lr=lr)
  loss_fn = nn.MSELoss()
  for t in range(epochs):
    model.train()
    users = torch.LongTensor(data_train['user id'].to_numpy()) # .cuda()
    items = torch.LongTensor(data_train['movie id'].to_numpy()) #.cuda()
    ratings = torch.FloatTensor(data_train['rating'].to_numpy())
    if Nueralnet:
        ratings = ratings.unsqueeze(1)
    y_pred = model(users,items)
    loss_train = loss_fn(y_pred,ratings)

    # Backpropagation
    optimizer.zero_grad()
    loss_train.backward()
    optimizer.step()

    model.eval()
    with torch.no_grad():
        test_users = torch.LongTensor(data_test['user id'].to_numpy())
        test_items = torch.LongTensor(data_test['movie id'].to_numpy())
        test_ratings = torch.FloatTensor(data_test['rating'].to_numpy())
        if Nueralnet:
            test_ratings=test_ratings.unsqueeze(1)
        pred_test = model(test_users,test_items)
        loss_test = loss_fn(pred_test, test_ratings)

    print(f"Epoch {t+1} -- Train loss: {loss_train:>7f} Test loss: {loss_test:>7f}")

In [9]:
model = MF(num_users+1, num_movies+1,embed_size=60)
train_epochs(model,0.04,60)
print("Model trained")

Epoch 1 -- Train loss: 13.468549 Test loss: 11.491547
Epoch 2 -- Train loss: 11.491732 Test loss: 8.764874
Epoch 3 -- Train loss: 8.762841 Test loss: 5.685009
Epoch 4 -- Train loss: 5.680787 Test loss: 2.900822
Epoch 5 -- Train loss: 2.894384 Test loss: 1.320877
Epoch 6 -- Train loss: 1.308101 Test loss: 1.689205
Epoch 7 -- Train loss: 1.650086 Test loss: 3.099349
Epoch 8 -- Train loss: 3.018622 Test loss: 3.618535
Epoch 9 -- Train loss: 3.508303 Test loss: 3.000670
Epoch 10 -- Train loss: 2.879034 Test loss: 2.011961
Epoch 11 -- Train loss: 1.892001 Test loss: 1.288319
Epoch 12 -- Train loss: 1.177220 Test loss: 1.051532
Epoch 13 -- Train loss: 0.951959 Test loss: 1.201863
Epoch 14 -- Train loss: 1.113687 Test loss: 1.516625
Epoch 15 -- Train loss: 1.438252 Test loss: 1.802611
Epoch 16 -- Train loss: 1.731736 Test loss: 1.950981
Epoch 17 -- Train loss: 1.885020 Test loss: 1.929787
Epoch 18 -- Train loss: 1.866156 Test loss: 1.760722
Epoch 19 -- Train loss: 1.697041 Test loss: 1.500416
Epoch 20 -- Train loss: 1.434667 Test loss: 1.226235
Epoch 21 -- Train loss: 1.156902 Test loss: 1.019485
Epoch 22 -- Train loss: 0.945682 Test loss: 0.940601
Epoch 23 -- Train loss: 0.862174 Test loss: 1.000064
Epoch 24 -- Train loss: 0.917609 Test loss: 1.143480
Epoch 25 -- Train loss: 1.058269 Test loss: 1.274523
Epoch 26 -- Train loss: 1.188338 Test loss: 1.312715
Epoch 27 -- Train loss: 1.227558 Test loss: 1.242097
Epoch 28 -- Train loss: 1.159775 Test loss: 1.110501
Epoch 29 -- Train loss: 1.032194 Test loss: 0.987945
Epoch 30 -- Train loss: 0.913980 Test loss: 0.923093
Epoch 31 -- Train loss: 0.852982 Test loss: 0.924960
Epoch 32 -- Train loss: 0.857647 Test loss: 0.970823
Epoch 33 -- Train loss: 0.904975 Test loss: 1.025966
Epoch 34 -- Train loss: 0.960206 Test loss: 1.061291
Epoch 35 -- Train loss: 0.994330 Test loss: 1.062696
Epoch 36 -- Train loss: 0.993400 Test loss: 1.032599
Epoch 37 -- Train loss: 0.960028 Test loss: 0.986071
Epoch 38 -- Train loss: 0.909527 Test loss: 0.943614
Epoch 39 -- Train loss: 0.862713 Test loss: 0.922365
Epoch 40 -- Train loss: 0.837123 Test loss: 0.928315
Epoch 41 -- Train loss: 0.839225 Test loss: 0.953315
Epoch 42 -- Train loss: 0.861361 Test loss: 0.979631
Epoch 43 -- Train loss: 0.886199 Test loss: 0.990418
Epoch 44 -- Train loss: 0.897103 Test loss: 0.979498
Epoch 45 -- Train loss: 0.887823 Test loss: 0.953640
Epoch 46 -- Train loss: 0.864788 Test loss: 0.926537
Epoch 47 -- Train loss: 0.841143 Test loss: 0.909774
Epoch 48 -- Train loss: 0.827855 Test loss: 0.907090
Epoch 49 -- Train loss: 0.828088 Test loss: 0.914380
Epoch 50 -- Train loss: 0.837308 Test loss: 0.923784
Epoch 51 -- Train loss: 0.847399 Test loss: 0.928542
Epoch 52 -- Train loss: 0.851525 Test loss: 0.926095
Epoch 53 -- Train loss: 0.847200 Test loss: 0.918511
Epoch 54 -- Train loss: 0.836691 Test loss: 0.910632
Epoch 55 -- Train loss: 0.825133 Test loss: 0.907075
Epoch 56 -- Train loss: 0.817500 Test loss: 0.909614
Epoch 57 -- Train loss: 0.815948 Test loss: 0.916307
Epoch 58 -- Train loss: 0.818892 Test loss: 0.922876
Epoch 59 -- Train loss: 0.822322 Test loss: 0.925455
Epoch 60 -- Train loss: 0.822514 Test loss: 0.922873
Model trained

In [10]:
user_id = input("Enter the user_id for movie recommendations: ")
movie_list = data[data['user id'] == int(user_id)]['movie id'].to_list()
unseen_list = [int(x) for x in range(1,num_movies+1) if x not in movie_list]
unseen_list = np.array(unseen_list)
temp_x = torch.LongTensor(np.full(np.size(unseen_list),int(user_id)))
unseen_mov = torch.LongTensor(unseen_list)

In [11]:
model.eval()
predictions_MF = model(temp_x,unseen_mov)
sorted_indices = np.argsort(predictions_MF.detach().numpy())[::-1]
ordered_movies = unseen_list[sorted_indices]
ordered_ratings = predictions_MF.detach().numpy()[sorted_indices]
print("-------------Recommended movies by MF--------------")
i=0
for xyz in ordered_movies[:10]:
  print(map_id_movie[xyz],ordered_ratings[i])
  i=i+1

-------------Recommended movies by MF--------------
Safe Passage (1994) 9.286698
Some Mother's Son (1996) 6.773218
Entertaining Angels: The Dorothy Day Story (1996) 6.7549706
Great Day in Harlem, A (1994) 6.658272
Santa with Muscles (1996) 6.655728
Spanish Prisoner, The (1997) 6.5802736
Brothers in Trouble (1995) 6.5635576
The Deadly Cure (1996) 6.5589385
Butcher Boy, The (1998) 6.549362
Butcher Boy, The (1998) 6.5484943