In [48]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import torch
import torch.nn as nn
from sklearn import model_selection
import numpy as np

In [49]:
data = pd.read_csv("ml-100k/u.data",sep="\t", header=None)
data1 = pd.read_csv("ml-100k/u.user",sep="|",header=None)
data.columns = ['user id', 'movie id', 'rating', 'timestamp']
data1.columns = ['user id','age','gender','occupation','zip code']
data['movie id'].unique
df1= pd.DataFrame(data1)
df = pd.DataFrame(data)
label_encoder = LabelEncoder()
data = pd.merge(df,df1[['user id','age','gender','occupation']],on='user id',how='left')

# data = merged
data['encoded age']=label_encoder.fit_transform(data['age'])
data['encoded gender']=label_encoder.fit_transform(data['gender'])
data['encoded occupation']=label_encoder.fit_transform(data['occupation'])
# print(data1['encoded age'][2])
# print(data1)
data.head()

,user id,movie id,rating,timestamp,age,gender,occupation,encoded age,encoded gender,encoded occupation
0,196,242,3,881250949,49,M,writer,39,1,20
1,186,302,3,891717742,39,F,executive,29,0,6
2,22,377,1,878887116,25,M,writer,15,1,20
3,244,51,2,880606923,28,M,technician,18,1,19
4,166,346,1,886397596,47,M,educator,37,1,3

In [50]:
movies = pd.read_csv("ml-100k/u.item",
                    sep="|", encoding='latin-1', header=None)
movies.columns = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL',
                 'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy',
                 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
                 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [51]:
map_id_movie = {}
for id,row in movies.iterrows():
  map_id_movie[row['movie id']] = row['movie title']
map_id_movie[1398]

'Anna (1996)'

In [52]:
num_users = data['user id'].nunique()
# nusers = data1['user id'].nunique()
num_age = data['encoded age'].nunique()
num_occupation = data['encoded occupation'].nunique()
num_gender = data['encoded gender'].nunique()
num_movies = data['movie id'].nunique()
print(
    (f"Number of users: {num_users}\n"
    f"Number of movies: {num_movies}\n"
    f"Number of ages: {num_age}\n"
    f"Number of occupations: {num_occupation}\n"
    f"Number of genders: {num_gender}")
)

Number of users: 943
Number of movies: 1682
Number of ages: 61
Number of occupations: 21
Number of genders: 2

In [53]:
data_train,data_test = model_selection.train_test_split(data, test_size = 0.1,random_state = 42,stratify = data['rating'])
data_test

,user id,movie id,rating,timestamp,age,gender,occupation,encoded age,encoded gender,encoded occupation
24188,299,88,3,889502902,29,M,doctor,19,1,2
14023,347,462,2,881654359,18,M,student,8,1,18
20170,96,185,5,884403866,25,F,artist,15,0,1
87853,880,302,5,880166451,13,M,student,3,1,18
8174,177,289,2,880130534,20,M,programmer,10,1,14
...,...,...,...,...,...,...,...,...,...,...
18733,43,215,5,883955467,29,F,librarian,19,0,10
83494,860,516,3,885991040,70,F,retired,59,0,15
36379,313,484,5,891016193,41,M,marketing,31,1,11
17294,112,286,4,884992484,30,M,salesman,20,1,16
71036,660,3,1,891405958,26,M,student,16,1,18

In [54]:
class MF(nn.Module):
  def __init__(self,users,movie_ids,ages,occupations,genders,embed_size):
    super(MF,self).__init__()
    self.user_embed = nn.Embedding(users,int(embed_size/4))
    self.user_bias = nn.Embedding(users, 1)
    self.age_embed = nn.Embedding(ages,int(embed_size/4))
    self.age_bias = nn.Embedding(ages,1)
    self.occupation_embed = nn.Embedding(occupations,int(embed_size/4))
    self.occupation_bias = nn.Embedding(occupations,1)
    self.gender_embed = nn.Embedding(genders,int(embed_size/4))
    self.gender_bias = nn.Embedding(genders,1)
    self.movie_embed = nn.Embedding(movie_ids,embed_size)
    self.movie_bias = nn.Embedding(movie_ids,1)
    self.user_embed.weight.data.uniform_(0,0.05)
    self.age_embed.weight.data.uniform_(0,0.05)
    self.occupation_embed.weight.data.uniform_(0,0.05)
    self.gender_embed.weight.data.uniform_(0,0.05)
    self.movie_embed.weight.data.uniform_(0,0.05)
    self.user_bias.weight.data.uniform_(-0.01,0.01)
    self.age_bias.weight.data.uniform_(-0.01,0.01)
    self.occupation_bias.weight.data.uniform_(-0.01,0.01)
    self.gender_bias.weight.data.uniform_(-0.01,0.01)
    self.movie_bias.weight.data.uniform_(-0.01,0.01)


  def forward(self,u,v,a,o,g):
    # print(u.shape)
    # print(v.shape)
    U = self.user_embed(u)
    # print(U.shape)
    V = self.movie_embed(v)
    # print(V.shape)
    A = self.age_embed(a)
    O = self.occupation_embed(o)
    G = self.gender_embed(g)
    b_u = self.user_bias(u).squeeze()
    b_v = self.movie_bias(v).squeeze()
    b_a = self.age_bias(a).squeeze()
    b_o = self.occupation_bias(o).squeeze()
    b_g = self.gender_bias(g).squeeze()
    user_vec = torch.cat([U,A,O,G], dim=-1)
    return (user_vec*V).sum(1) + b_u + b_v + b_a + b_o + b_g

In [55]:
def train_epochs(model,lr,epochs,Nueralnet = False):
  optimizer = torch.optim.Adam(model.parameters(), lr=lr)
  loss_fn = nn.MSELoss()
  for t in range(epochs):
    model.train()
    users = torch.LongTensor(data_train['user id'].to_numpy()) # .cuda()
    items = torch.LongTensor(data_train['movie id'].to_numpy()) #.cuda()
    ages = torch.LongTensor(data_train['encoded age'].to_numpy())
    occupations = torch.LongTensor(data_train['encoded occupation'].to_numpy())
    genders = torch.LongTensor(data_train['encoded gender'].to_numpy())
    ratings = torch.FloatTensor(data_train['rating'].to_numpy())
    if Nueralnet:
        ratings = ratings.unsqueeze(1)
        y_pred = model(users,items)
    else:
        y_pred = model(users,items,ages,occupations,genders)
 #.cuda()
    # y_pred = model(users,items,ages,occupations,genders)
    loss_train = loss_fn(y_pred,ratings)

    # Backpropagation
    optimizer.zero_grad()
    loss_train.backward()
    optimizer.step()

    model.eval()
    with torch.no_grad():
        test_users = torch.LongTensor(data_test['user id'].to_numpy())
        test_items = torch.LongTensor(data_test['movie id'].to_numpy())
        test_ages = torch.LongTensor(data_test['encoded age'].to_numpy())
        test_occupations = torch.LongTensor(data_test['encoded occupation'].to_numpy())
        test_genders = torch.LongTensor(data_test['encoded gender'].to_numpy())
        test_ratings = torch.FloatTensor(data_test['rating'].to_numpy())
        if Nueralnet:
            test_ratings=test_ratings.unsqueeze(1)
            pred_test = model(test_users,test_items)
        else:
            pred_test = model(test_users,test_items,test_ages,test_occupations,test_genders)
        loss_test = loss_fn(pred_test, test_ratings)

    print(f"Epoch {t+1} -- Train loss: {loss_train:>7f} Test loss: {loss_test:>7f}")

In [56]:
model = MF(num_users+1, num_movies+1,num_age+1,num_occupation+1,num_gender+1,embed_size=60)
train_epochs(model,0.04,60)
print("Model trained")

Epoch 1 -- Train loss: 13.476962 Test loss: 10.746129
Epoch 2 -- Train loss: 10.746518 Test loss: 7.512383
Epoch 3 -- Train loss: 7.510556 Test loss: 4.300903
Epoch 4 -- Train loss: 4.297201 Test loss: 1.906981
Epoch 5 -- Train loss: 1.900885 Test loss: 1.292031
Epoch 6 -- Train loss: 1.274644 Test loss: 2.538216
Epoch 7 -- Train loss: 2.489333 Test loss: 3.593486
Epoch 8 -- Train loss: 3.512446 Test loss: 3.341568
Epoch 9 -- Train loss: 3.243386 Test loss: 2.389913
Epoch 10 -- Train loss: 2.288691 Test loss: 1.499593
Epoch 11 -- Train loss: 1.404516 Test loss: 1.044209
Epoch 12 -- Train loss: 0.959463 Test loss: 1.024415
Epoch 13 -- Train loss: 0.950346 Test loss: 1.253132
Epoch 14 -- Train loss: 1.187907 Test loss: 1.532031
Epoch 15 -- Train loss: 1.473022 Test loss: 1.733392
Epoch 16 -- Train loss: 1.677929 Test loss: 1.804318
Epoch 17 -- Train loss: 1.749957 Test loss: 1.743884
Epoch 18 -- Train loss: 1.688439 Test loss: 1.582169
Epoch 19 -- Train loss: 1.523695 Test loss: 1.366928
Epoch 20 -- Train loss: 1.303721 Test loss: 1.154179
Epoch 21 -- Train loss: 1.084849 Test loss: 0.997722
Epoch 22 -- Train loss: 0.921329 Test loss: 0.934926
Epoch 23 -- Train loss: 0.851172 Test loss: 0.971294
Epoch 24 -- Train loss: 0.880711 Test loss: 1.073056
Epoch 25 -- Train loss: 0.977086 Test loss: 1.179040
Epoch 26 -- Train loss: 1.079900 Test loss: 1.231655
Epoch 27 -- Train loss: 1.131960 Test loss: 1.207554
Epoch 28 -- Train loss: 1.109809 Test loss: 1.125192
Epoch 29 -- Train loss: 1.031347 Test loss: 1.026693
Epoch 30 -- Train loss: 0.937893 Test loss: 0.951271
Epoch 31 -- Train loss: 0.867824 Test loss: 0.918086
Epoch 32 -- Train loss: 0.839575 Test loss: 0.924267
Epoch 33 -- Train loss: 0.849748 Test loss: 0.953173
Epoch 34 -- Train loss: 0.881374 Test loss: 0.984985
Epoch 35 -- Train loss: 0.914482 Test loss: 1.004474
Epoch 36 -- Train loss: 0.933812 Test loss: 1.004576
Epoch 37 -- Train loss: 0.932360 Test loss: 0.986587
Epoch 38 -- Train loss: 0.911546 Test loss: 0.958178
Epoch 39 -- Train loss: 0.879232 Test loss: 0.930111
Epoch 40 -- Train loss: 0.846438 Test loss: 0.912311
Epoch 41 -- Train loss: 0.823431 Test loss: 0.910176
Epoch 42 -- Train loss: 0.816024 Test loss: 0.922405
Epoch 43 -- Train loss: 0.823382 Test loss: 0.941591
Epoch 44 -- Train loss: 0.838543 Test loss: 0.957765
Epoch 45 -- Train loss: 0.851891 Test loss: 0.963288
Epoch 46 -- Train loss: 0.855964 Test loss: 0.956329
Epoch 47 -- Train loss: 0.848890 Test loss: 0.940957
Epoch 48 -- Train loss: 0.834506 Test loss: 0.924188
Epoch 49 -- Train loss: 0.819454 Test loss: 0.912126
Epoch 50 -- Train loss: 0.809422 Test loss: 0.907445
Epoch 51 -- Train loss: 0.806688 Test loss: 0.909092
Epoch 52 -- Train loss: 0.809883 Test loss: 0.913714
Epoch 53 -- Train loss: 0.815430 Test loss: 0.917657
Epoch 54 -- Train loss: 0.819548 Test loss: 0.918562
Epoch 55 -- Train loss: 0.819838 Test loss: 0.916068
Epoch 56 -- Train loss: 0.815969 Test loss: 0.911591
Epoch 57 -- Train loss: 0.809446 Test loss: 0.907419
Epoch 58 -- Train loss: 0.802695 Test loss: 0.905568
Epoch 59 -- Train loss: 0.797908 Test loss: 0.906848
Epoch 60 -- Train loss: 0.796085 Test loss: 0.910541
Model trained

In [57]:
class NueralNet(nn.Module):
  def __init__(self,users,movie_ids,embed_size):
    super(NueralNet,self).__init__()
    self.user_embed = nn.Embedding(users,embed_size)
    self.movie_embed = nn.Embedding(movie_ids,embed_size)
    self.user_embed.weight.data.uniform_(0,0.05)
    self.movie_embed.weight.data.uniform_(0,0.05)
    self.network = nn.Sequential(
            nn.Linear(2*embed_size,64),
            nn.ReLU(),
            nn.Linear(64, 32),
            nn.ReLU(),
            nn.Linear(32, 1)
        )
    self.output = nn.Sigmoid()

  def forward(self,u,v):
    U = self.user_embed(u)
    V = self.movie_embed(v)
    vector = torch.cat([U,V], dim=-1)
    out_temp = self.network(vector)
    return self.output(out_temp)*5

In [58]:
model_2 = NueralNet(num_users+1,num_movies+1,64)
train_epochs(model_2,0.001,170,True)

Epoch 1 -- Train loss: 2.527740 Test loss: 2.507633
Epoch 2 -- Train loss: 2.507829 Test loss: 2.487837
Epoch 3 -- Train loss: 2.488024 Test loss: 2.468355
Epoch 4 -- Train loss: 2.468524 Test loss: 2.449847
Epoch 5 -- Train loss: 2.450004 Test loss: 2.431785
Epoch 6 -- Train loss: 2.431925 Test loss: 2.413538
Epoch 7 -- Train loss: 2.413655 Test loss: 2.395025
Epoch 8 -- Train loss: 2.395121 Test loss: 2.376491
Epoch 9 -- Train loss: 2.376558 Test loss: 2.359391
Epoch 10 -- Train loss: 2.359435 Test loss: 2.342563
Epoch 11 -- Train loss: 2.342593 Test loss: 2.325254
Epoch 12 -- Train loss: 2.325260 Test loss: 2.307421
Epoch 13 -- Train loss: 2.307398 Test loss: 2.289018
Epoch 14 -- Train loss: 2.288962 Test loss: 2.269980
Epoch 15 -- Train loss: 2.269884 Test loss: 2.250237
Epoch 16 -- Train loss: 2.250093 Test loss: 2.229740
Epoch 17 -- Train loss: 2.229543 Test loss: 2.208473
Epoch 18 -- Train loss: 2.208212 Test loss: 2.186997
Epoch 19 -- Train loss: 2.186671 Test loss: 2.166260
Epoch 20 -- Train loss: 2.165871 Test loss: 2.144792
Epoch 21 -- Train loss: 2.144333 Test loss: 2.122540
Epoch 22 -- Train loss: 2.122002 Test loss: 2.099634
Epoch 23 -- Train loss: 2.098994 Test loss: 2.075730
Epoch 24 -- Train loss: 2.074971 Test loss: 2.050621
Epoch 25 -- Train loss: 2.049721 Test loss: 2.024250
Epoch 26 -- Train loss: 2.023188 Test loss: 1.996579
Epoch 27 -- Train loss: 1.995331 Test loss: 1.967576
Epoch 28 -- Train loss: 1.966117 Test loss: 1.936923
Epoch 29 -- Train loss: 1.935220 Test loss: 1.902436
Epoch 30 -- Train loss: 1.900402 Test loss: 1.865286
Epoch 31 -- Train loss: 1.862872 Test loss: 1.826289
Epoch 32 -- Train loss: 1.823452 Test loss: 1.785663
Epoch 33 -- Train loss: 1.782349 Test loss: 1.743611
Epoch 34 -- Train loss: 1.739769 Test loss: 1.700357
Epoch 35 -- Train loss: 1.695940 Test loss: 1.656046
Epoch 36 -- Train loss: 1.650991 Test loss: 1.610668
Epoch 37 -- Train loss: 1.604898 Test loss: 1.564822
Epoch 38 -- Train loss: 1.558255 Test loss: 1.518950
Epoch 39 -- Train loss: 1.511505 Test loss: 1.473500
Epoch 40 -- Train loss: 1.465088 Test loss: 1.428954
Epoch 41 -- Train loss: 1.419486 Test loss: 1.385836
Epoch 42 -- Train loss: 1.375222 Test loss: 1.344706
Epoch 43 -- Train loss: 1.332852 Test loss: 1.306064
Epoch 44 -- Train loss: 1.292881 Test loss: 1.270296
Epoch 45 -- Train loss: 1.255692 Test loss: 1.237742
Epoch 46 -- Train loss: 1.221621 Test loss: 1.208871
Epoch 47 -- Train loss: 1.191151 Test loss: 1.183976
Epoch 48 -- Train loss: 1.164586 Test loss: 1.163166
Epoch 49 -- Train loss: 1.142050 Test loss: 1.146370
Epoch 50 -- Train loss: 1.123486 Test loss: 1.133325
Epoch 51 -- Train loss: 1.108648 Test loss: 1.123579
Epoch 52 -- Train loss: 1.097098 Test loss: 1.116525
Epoch 53 -- Train loss: 1.088257 Test loss: 1.111459
Epoch 54 -- Train loss: 1.081437 Test loss: 1.107610
Epoch 55 -- Train loss: 1.075901 Test loss: 1.104233
Epoch 56 -- Train loss: 1.070924 Test loss: 1.100674
Epoch 57 -- Train loss: 1.065872 Test loss: 1.096433
Epoch 58 -- Train loss: 1.060262 Test loss: 1.091194
Epoch 59 -- Train loss: 1.053785 Test loss: 1.084820
Epoch 60 -- Train loss: 1.046309 Test loss: 1.077330
Epoch 61 -- Train loss: 1.037864 Test loss: 1.068891
Epoch 62 -- Train loss: 1.028607 Test loss: 1.059733
Epoch 63 -- Train loss: 1.018773 Test loss: 1.050155
Epoch 64 -- Train loss: 1.008642 Test loss: 1.040475
Epoch 65 -- Train loss: 0.998491 Test loss: 1.030954
Epoch 66 -- Train loss: 0.988585 Test loss: 1.021830
Epoch 67 -- Train loss: 0.979159 Test loss: 1.013284
Epoch 68 -- Train loss: 0.970369 Test loss: 1.005438
Epoch 69 -- Train loss: 0.962304 Test loss: 0.998326
Epoch 70 -- Train loss: 0.954981 Test loss: 0.991928
Epoch 71 -- Train loss: 0.948361 Test loss: 0.986196
Epoch 72 -- Train loss: 0.942371 Test loss: 0.981037
Epoch 73 -- Train loss: 0.936904 Test loss: 0.976306
Epoch 74 -- Train loss: 0.931835 Test loss: 0.971961
Epoch 75 -- Train loss: 0.927143 Test loss: 0.967934
Epoch 76 -- Train loss: 0.922676 Test loss: 0.964152
Epoch 77 -- Train loss: 0.918411 Test loss: 0.960541
Epoch 78 -- Train loss: 0.914291 Test loss: 0.957062
Epoch 79 -- Train loss: 0.910274 Test loss: 0.953723
Epoch 80 -- Train loss: 0.906358 Test loss: 0.950513
Epoch 81 -- Train loss: 0.902539 Test loss: 0.947443
Epoch 82 -- Train loss: 0.898823 Test loss: 0.944508
Epoch 83 -- Train loss: 0.895220 Test loss: 0.941730
Epoch 84 -- Train loss: 0.891740 Test loss: 0.939119
Epoch 85 -- Train loss: 0.888392 Test loss: 0.936655
Epoch 86 -- Train loss: 0.885192 Test loss: 0.934362
Epoch 87 -- Train loss: 0.882154 Test loss: 0.932238
Epoch 88 -- Train loss: 0.879281 Test loss: 0.930279
Epoch 89 -- Train loss: 0.876565 Test loss: 0.928462
Epoch 90 -- Train loss: 0.873994 Test loss: 0.926774
Epoch 91 -- Train loss: 0.871559 Test loss: 0.925198
Epoch 92 -- Train loss: 0.869253 Test loss: 0.923715
Epoch 93 -- Train loss: 0.867059 Test loss: 0.922304
Epoch 94 -- Train loss: 0.864973 Test loss: 0.920970
Epoch 95 -- Train loss: 0.862997 Test loss: 0.919714
Epoch 96 -- Train loss: 0.861106 Test loss: 0.918527
Epoch 97 -- Train loss: 0.859289 Test loss: 0.917404
Epoch 98 -- Train loss: 0.857545 Test loss: 0.916332
Epoch 99 -- Train loss: 0.855864 Test loss: 0.915300
Epoch 100 -- Train loss: 0.854240 Test loss: 0.914299
Epoch 101 -- Train loss: 0.852671 Test loss: 0.913322
Epoch 102 -- Train loss: 0.851152 Test loss: 0.912376
Epoch 103 -- Train loss: 0.849680 Test loss: 0.911468
Epoch 104 -- Train loss: 0.848254 Test loss: 0.910592
Epoch 105 -- Train loss: 0.846874 Test loss: 0.909749
Epoch 106 -- Train loss: 0.845538 Test loss: 0.908935
Epoch 107 -- Train loss: 0.844248 Test loss: 0.908156
Epoch 108 -- Train loss: 0.843008 Test loss: 0.907416
Epoch 109 -- Train loss: 0.841820 Test loss: 0.906718
Epoch 110 -- Train loss: 0.840686 Test loss: 0.906061
Epoch 111 -- Train loss: 0.839604 Test loss: 0.905439
Epoch 112 -- Train loss: 0.838578 Test loss: 0.904843
Epoch 113 -- Train loss: 0.837605 Test loss: 0.904271
Epoch 114 -- Train loss: 0.836687 Test loss: 0.903726
Epoch 115 -- Train loss: 0.835824 Test loss: 0.903198
Epoch 116 -- Train loss: 0.835018 Test loss: 0.902686
Epoch 117 -- Train loss: 0.834267 Test loss: 0.902189
Epoch 118 -- Train loss: 0.833572 Test loss: 0.901711
Epoch 119 -- Train loss: 0.832929 Test loss: 0.901251
Epoch 120 -- Train loss: 0.832336 Test loss: 0.900806
Epoch 121 -- Train loss: 0.831789 Test loss: 0.900381
Epoch 122 -- Train loss: 0.831283 Test loss: 0.899972
Epoch 123 -- Train loss: 0.830812 Test loss: 0.899578
Epoch 124 -- Train loss: 0.830371 Test loss: 0.899195
Epoch 125 -- Train loss: 0.829955 Test loss: 0.898817
Epoch 126 -- Train loss: 0.829563 Test loss: 0.898445
Epoch 127 -- Train loss: 0.829191 Test loss: 0.898077
Epoch 128 -- Train loss: 0.828835 Test loss: 0.897717
Epoch 129 -- Train loss: 0.828493 Test loss: 0.897361
Epoch 130 -- Train loss: 0.828164 Test loss: 0.897007
Epoch 131 -- Train loss: 0.827847 Test loss: 0.896658
Epoch 132 -- Train loss: 0.827541 Test loss: 0.896313
Epoch 133 -- Train loss: 0.827247 Test loss: 0.895978
Epoch 134 -- Train loss: 0.826964 Test loss: 0.895653
Epoch 135 -- Train loss: 0.826690 Test loss: 0.895339
Epoch 136 -- Train loss: 0.826425 Test loss: 0.895044
Epoch 137 -- Train loss: 0.826166 Test loss: 0.894768
Epoch 138 -- Train loss: 0.825913 Test loss: 0.894509
Epoch 139 -- Train loss: 0.825663 Test loss: 0.894268
Epoch 140 -- Train loss: 0.825417 Test loss: 0.894041
Epoch 141 -- Train loss: 0.825173 Test loss: 0.893826
Epoch 142 -- Train loss: 0.824931 Test loss: 0.893614
Epoch 143 -- Train loss: 0.824690 Test loss: 0.893398
Epoch 144 -- Train loss: 0.824446 Test loss: 0.893176
Epoch 145 -- Train loss: 0.824199 Test loss: 0.892953
Epoch 146 -- Train loss: 0.823949 Test loss: 0.892728
Epoch 147 -- Train loss: 0.823691 Test loss: 0.892509
Epoch 148 -- Train loss: 0.823431 Test loss: 0.892291
Epoch 149 -- Train loss: 0.823164 Test loss: 0.892073
Epoch 150 -- Train loss: 0.822889 Test loss: 0.891855
Epoch 151 -- Train loss: 0.822605 Test loss: 0.891638
Epoch 152 -- Train loss: 0.822310 Test loss: 0.891416
Epoch 153 -- Train loss: 0.822002 Test loss: 0.891191
Epoch 154 -- Train loss: 0.821675 Test loss: 0.890955
Epoch 155 -- Train loss: 0.821332 Test loss: 0.890696
Epoch 156 -- Train loss: 0.820976 Test loss: 0.890427
Epoch 157 -- Train loss: 0.820608 Test loss: 0.890160
Epoch 158 -- Train loss: 0.820230 Test loss: 0.889891
Epoch 159 -- Train loss: 0.819834 Test loss: 0.889639
Epoch 160 -- Train loss: 0.819401 Test loss: 0.889389
Epoch 161 -- Train loss: 0.818942 Test loss: 0.889124
Epoch 162 -- Train loss: 0.818466 Test loss: 0.888841
Epoch 163 -- Train loss: 0.817966 Test loss: 0.888532
Epoch 164 -- Train loss: 0.817440 Test loss: 0.888209
Epoch 165 -- Train loss: 0.816884 Test loss: 0.887879
Epoch 166 -- Train loss: 0.816298 Test loss: 0.887533
Epoch 167 -- Train loss: 0.815680 Test loss: 0.887190
Epoch 168 -- Train loss: 0.815032 Test loss: 0.886847
Epoch 169 -- Train loss: 0.814357 Test loss: 0.886509
Epoch 170 -- Train loss: 0.813659 Test loss: 0.886159

In [59]:
user_id = input("Enter the user_id for movie recommendations: ")
movie_list = data[data['user id'] == int(user_id)]['movie id'].to_list()
unseen_list = [int(x) for x in range(1,num_movies+1) if x not in movie_list]
unseen_list = np.array(unseen_list)
temp_x = torch.LongTensor(np.full(np.size(unseen_list),int(user_id)))
temp_age = torch.LongTensor(np.full(np.size(unseen_list),int(data['encoded age'][int(user_id)-1])))
temp_occ = torch.LongTensor(np.full(np.size(unseen_list),int(data['encoded occupation'][int(user_id)-1])))
temp_gen = torch.LongTensor(np.full(np.size(unseen_list),int(data['encoded gender'][int(user_id)-1])))
unseen_mov = torch.LongTensor(unseen_list)

In [60]:
model.eval()
predictions_MF = model(temp_x,unseen_mov,temp_age,temp_occ,temp_gen)
sorted_indices = np.argsort(predictions_MF.detach().numpy())[::-1]
ordered_movies = unseen_list[sorted_indices]
ordered_ratings = predictions_MF.detach().numpy()[sorted_indices]
print("-------------Recommended movies by MF--------------")
i=0
for xyz in ordered_movies[:10]:
  print(map_id_movie[xyz],ordered_ratings[i])
  i=i+1

-------------Recommended movies by MF--------------
American Dream (1990) 9.839307
Grosse Fatigue (1994) 8.996676
Enfer, L' (1994) 8.4799
Two or Three Things I Know About Her (1966) 8.185433
Safe Passage (1994) 8.14035
Ladybird Ladybird (1994) 7.870578
Delta of Venus (1994) 7.8434196
World of Apu, The (Apur Sansar) (1959) 7.757298
Little City (1998) 7.6582255
Legal Deceit (1997) 7.634438

In [61]:
model_2.eval()
predictions_NN = model_2(temp_x,unseen_mov)
predictions_NN=predictions_NN.squeeze()
sorted_indices = np.argsort(predictions_NN.detach().numpy())[::-1]
ordered_movies = unseen_list[sorted_indices]
ordered_ratings = predictions_NN.detach().numpy()[sorted_indices]
print("---------------Recommended movies by NeuralNetworks--------------")
i=0
for xyz in ordered_movies[:10]:
  print(map_id_movie[xyz],ordered_ratings[i])
  i=i+1

---------------Recommended movies by NeuralNetworks--------------
Safe Passage (1994) 4.869988
Great Day in Harlem, A (1994) 4.848739
Someone Else's America (1995) 4.8365054
Santa with Muscles (1996) 4.8309402
Entertaining Angels: The Dorothy Day Story (1996) 4.8307023
Pather Panchali (1955) 4.829671
Saint of Fort Washington, The (1993) 4.8254547
The Deadly Cure (1996) 4.8253293
Some Mother's Son (1996) 4.8247833
Bitter Sugar (Azucar Amargo) (1996) 4.814805