In [1]:
import pandas as pd
import torch
import torch.nn as nn
from sklearn import model_selection
import numpy as np
torch.manual_seed(42)

In [2]:
data = pd.read_csv("ml-100k/u.data",sep="\t", header=None)
data.columns = ['user id', 'movie id', 'rating', 'timestamp']
data['movie id'].unique

<bound method Series.unique of 0         242
1         302
2         377
3          51
4         346
         ...
99995     476
99996     204
99997    1090
99998     225
99999     203
Name: movie id, Length: 100000, dtype: int64>

In [3]:
movies = pd.read_csv("ml-100k/u.item",
                    sep="|", encoding='latin-1', header=None)
movies.columns = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL',
                 'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy',
                 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
                 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
map_id_movie = {}
for id,row in movies.iterrows():
  map_id_movie[row['movie id']] = row['movie title']
map_id_movie[1398]

'Anna (1996)'

In [5]:
num_users = data['user id'].nunique()
num_movies = data['movie id'].nunique()
print(
    (f"Number of users: {num_users}\n"
    f"Number of movies: {num_movies}")
)

Number of users: 943
Number of movies: 1682

In [6]:
data_train,data_test = model_selection.train_test_split(data, test_size = 0.1,random_state = 42,stratify = data['rating'])
data_test

       user id  movie id  rating  timestamp
24188      299        88       3  889502902
14023      347       462       2  881654359
20170       96       185       5  884403866
87853      880       302       5  880166451
8174       177       289       2  880130534
...        ...       ...     ...        ...
18733       43       215       5  883955467
83494      860       516       3  885991040
36379      313       484       5  891016193
17294      112       286       4  884992484
71036      660         3       1  891405958

[10000 rows x 4 columns]

In [7]:
def train_epochs(model,lr,epochs,Nueralnet = False):
  optimizer = torch.optim.Adam(model.parameters(), lr=lr)
  loss_fn = nn.MSELoss()
  for t in range(epochs):
    model.train()
    users = torch.LongTensor(data_train['user id'].to_numpy()) # .cuda()
    items = torch.LongTensor(data_train['movie id'].to_numpy()) #.cuda()
    ratings = torch.FloatTensor(data_train['rating'].to_numpy())
    if Nueralnet:
        ratings = ratings.unsqueeze(1)
    y_pred = model(users,items)
    loss_train = loss_fn(y_pred,ratings)

    optimizer.zero_grad()
    loss_train.backward()
    optimizer.step()

    model.eval()
    with torch.no_grad():
        test_users = torch.LongTensor(data_test['user id'].to_numpy())
        test_items = torch.LongTensor(data_test['movie id'].to_numpy())
        test_ratings = torch.FloatTensor(data_test['rating'].to_numpy())
        if Nueralnet:
            test_ratings=test_ratings.unsqueeze(1)
        pred_test = model(test_users,test_items)
        loss_test = loss_fn(pred_test, test_ratings)

    print(f"Epoch {t+1} -- Train loss: {loss_train:>7f} Test loss: {loss_test:>7f}")

In [8]:
class NueralNet(nn.Module):
  def __init__(self,users,movie_ids,embed_size):
    super(NueralNet,self).__init__()
    self.user_embed = nn.Embedding(users,embed_size)
    self.movie_embed = nn.Embedding(movie_ids,embed_size)
    self.user_embed.weight.data.uniform_(0,0.05)
    self.movie_embed.weight.data.uniform_(0,0.05)
    self.network = nn.Sequential(
            nn.Linear(2*embed_size,64),
            nn.ReLU(),
            nn.Linear(64, 32),
            nn.ReLU(),
            nn.Linear(32, 1)
        )
    self.output = nn.Sigmoid()

  def forward(self,u,v):
    U = self.user_embed(u)
    V = self.movie_embed(v)
    vector = torch.cat([U,V], dim=-1)
    out_temp = self.network(vector)
    return self.output(out_temp)*5

In [9]:
model_2 = NueralNet(num_users+1,num_movies+1,64)
train_epochs(model_2,0.001,170,True)

Epoch 1 -- Train loss: 2.756229 Test loss: 2.735536
Epoch 2 -- Train loss: 2.735766 Test loss: 2.715558
Epoch 3 -- Train loss: 2.715769 Test loss: 2.696153
Epoch 4 -- Train loss: 2.696349 Test loss: 2.676896
Epoch 5 -- Train loss: 2.677074 Test loss: 2.657388
Epoch 6 -- Train loss: 2.657553 Test loss: 2.637375
Epoch 7 -- Train loss: 2.637530 Test loss: 2.616712
Epoch 8 -- Train loss: 2.616856 Test loss: 2.595331
Epoch 9 -- Train loss: 2.595459 Test loss: 2.573069
Epoch 10 -- Train loss: 2.573183 Test loss: 2.549415
Epoch 11 -- Train loss: 2.549510 Test loss: 2.524169
Epoch 12 -- Train loss: 2.524235 Test loss: 2.497763
Epoch 13 -- Train loss: 2.497799 Test loss: 2.470616
Epoch 14 -- Train loss: 2.470617 Test loss: 2.442293
Epoch 15 -- Train loss: 2.442257 Test loss: 2.412512
Epoch 16 -- Train loss: 2.412417 Test loss: 2.381458
Epoch 17 -- Train loss: 2.381313 Test loss: 2.348821
Epoch 18 -- Train loss: 2.348616 Test loss: 2.314405
Epoch 19 -- Train loss: 2.314126 Test loss: 2.278155
Epoch 20 -- Train loss: 2.277785 Test loss: 2.240196
Epoch 21 -- Train loss: 2.239721 Test loss: 2.201637
Epoch 22 -- Train loss: 2.201040 Test loss: 2.161444
Epoch 23 -- Train loss: 2.160708 Test loss: 2.119263
Epoch 24 -- Train loss: 2.118354 Test loss: 2.075105
Epoch 25 -- Train loss: 2.073992 Test loss: 2.028948
Epoch 26 -- Train loss: 2.027592 Test loss: 1.981941
Epoch 27 -- Train loss: 1.980312 Test loss: 1.933358
Epoch 28 -- Train loss: 1.931416 Test loss: 1.882980
Epoch 29 -- Train loss: 1.880673 Test loss: 1.830998
Epoch 30 -- Train loss: 1.828266 Test loss: 1.777657
Epoch 31 -- Train loss: 1.774431 Test loss: 1.723267
Epoch 32 -- Train loss: 1.719473 Test loss: 1.668210
Epoch 33 -- Train loss: 1.663768 Test loss: 1.612916
Epoch 34 -- Train loss: 1.607742 Test loss: 1.557901
Epoch 35 -- Train loss: 1.551905 Test loss: 1.503774
Epoch 36 -- Train loss: 1.496860 Test loss: 1.451198
Epoch 37 -- Train loss: 1.443264 Test loss: 1.400871
Epoch 38 -- Train loss: 1.391812 Test loss: 1.353501
Epoch 39 -- Train loss: 1.343208 Test loss: 1.309769
Epoch 40 -- Train loss: 1.298134 Test loss: 1.270288
Epoch 41 -- Train loss: 1.257206 Test loss: 1.235555
Epoch 42 -- Train loss: 1.220926 Test loss: 1.205902
Epoch 43 -- Train loss: 1.189636 Test loss: 1.181456
Epoch 44 -- Train loss: 1.163478 Test loss: 1.162105
Epoch 45 -- Train loss: 1.142359 Test loss: 1.147483
Epoch 46 -- Train loss: 1.125933 Test loss: 1.136985
Epoch 47 -- Train loss: 1.113618 Test loss: 1.129818
Epoch 48 -- Train loss: 1.104644 Test loss: 1.125056
Epoch 49 -- Train loss: 1.098107 Test loss: 1.121729
Epoch 50 -- Train loss: 1.093060 Test loss: 1.118918
Epoch 51 -- Train loss: 1.088608 Test loss: 1.115834
Epoch 52 -- Train loss: 1.083977 Test loss: 1.111869
Epoch 53 -- Train loss: 1.078578 Test loss: 1.106629
Epoch 54 -- Train loss: 1.072026 Test loss: 1.099937
Epoch 55 -- Train loss: 1.064151 Test loss: 1.091814
Epoch 56 -- Train loss: 1.054972 Test loss: 1.082430
Epoch 57 -- Train loss: 1.044657 Test loss: 1.072061
Epoch 58 -- Train loss: 1.033480 Test loss: 1.061049
Epoch 59 -- Train loss: 1.021771 Test loss: 1.049755
Epoch 60 -- Train loss: 1.009875 Test loss: 1.038539
Epoch 61 -- Train loss: 0.998142 Test loss: 1.027771
Epoch 62 -- Train loss: 0.986952 Test loss: 1.017647
Epoch 63 -- Train loss: 0.976451 Test loss: 1.008356
Epoch 64 -- Train loss: 0.966813 Test loss: 1.000005
Epoch 65 -- Train loss: 0.958127 Test loss: 0.992588
Epoch 66 -- Train loss: 0.950376 Test loss: 0.986037
Epoch 67 -- Train loss: 0.943456 Test loss: 0.980200
Epoch 68 -- Train loss: 0.937193 Test loss: 0.974904
Epoch 69 -- Train loss: 0.931417 Test loss: 0.970182
Epoch 70 -- Train loss: 0.926198 Test loss: 0.965843
Epoch 71 -- Train loss: 0.921342 Test loss: 0.961801
Epoch 72 -- Train loss: 0.916728 Test loss: 0.957931
Epoch 73 -- Train loss: 0.912218 Test loss: 0.954175
Epoch 74 -- Train loss: 0.907734 Test loss: 0.950497
Epoch 75 -- Train loss: 0.903267 Test loss: 0.946907
Epoch 76 -- Train loss: 0.898834 Test loss: 0.943438
Epoch 77 -- Train loss: 0.894474 Test loss: 0.940133
Epoch 78 -- Train loss: 0.890246 Test loss: 0.937028
Epoch 79 -- Train loss: 0.886196 Test loss: 0.934173
Epoch 80 -- Train loss: 0.882384 Test loss: 0.931589
Epoch 81 -- Train loss: 0.878842 Test loss: 0.929281
Epoch 82 -- Train loss: 0.875579 Test loss: 0.927258
Epoch 83 -- Train loss: 0.872602 Test loss: 0.925515
Epoch 84 -- Train loss: 0.869910 Test loss: 0.924005
Epoch 85 -- Train loss: 0.867477 Test loss: 0.922700
Epoch 86 -- Train loss: 0.865280 Test loss: 0.921569
Epoch 87 -- Train loss: 0.863282 Test loss: 0.920547
Epoch 88 -- Train loss: 0.861430 Test loss: 0.919585
Epoch 89 -- Train loss: 0.859678 Test loss: 0.918643
Epoch 90 -- Train loss: 0.857995 Test loss: 0.917693
Epoch 91 -- Train loss: 0.856352 Test loss: 0.916712
Epoch 92 -- Train loss: 0.854739 Test loss: 0.915709
Epoch 93 -- Train loss: 0.853156 Test loss: 0.914693
Epoch 94 -- Train loss: 0.851604 Test loss: 0.913681
Epoch 95 -- Train loss: 0.850095 Test loss: 0.912687
Epoch 96 -- Train loss: 0.848639 Test loss: 0.911724
Epoch 97 -- Train loss: 0.847246 Test loss: 0.910795
Epoch 98 -- Train loss: 0.845919 Test loss: 0.909904
Epoch 99 -- Train loss: 0.844657 Test loss: 0.909052
Epoch 100 -- Train loss: 0.843455 Test loss: 0.908228
Epoch 101 -- Train loss: 0.842305 Test loss: 0.907436
Epoch 102 -- Train loss: 0.841204 Test loss: 0.906668
Epoch 103 -- Train loss: 0.840143 Test loss: 0.905931
Epoch 104 -- Train loss: 0.839122 Test loss: 0.905227
Epoch 105 -- Train loss: 0.838143 Test loss: 0.904559
Epoch 106 -- Train loss: 0.837203 Test loss: 0.903924
Epoch 107 -- Train loss: 0.836304 Test loss: 0.903319
Epoch 108 -- Train loss: 0.835451 Test loss: 0.902745
Epoch 109 -- Train loss: 0.834642 Test loss: 0.902207
Epoch 110 -- Train loss: 0.833885 Test loss: 0.901710
Epoch 111 -- Train loss: 0.833170 Test loss: 0.901239
Epoch 112 -- Train loss: 0.832503 Test loss: 0.900795
Epoch 113 -- Train loss: 0.831877 Test loss: 0.900377
Epoch 114 -- Train loss: 0.831290 Test loss: 0.899976
Epoch 115 -- Train loss: 0.830741 Test loss: 0.899590
Epoch 116 -- Train loss: 0.830224 Test loss: 0.899214
Epoch 117 -- Train loss: 0.829739 Test loss: 0.898852
Epoch 118 -- Train loss: 0.829280 Test loss: 0.898495
Epoch 119 -- Train loss: 0.828852 Test loss: 0.898138
Epoch 120 -- Train loss: 0.828447 Test loss: 0.897779
Epoch 121 -- Train loss: 0.828060 Test loss: 0.897423
Epoch 122 -- Train loss: 0.827691 Test loss: 0.897073
Epoch 123 -- Train loss: 0.827338 Test loss: 0.896722
Epoch 124 -- Train loss: 0.826998 Test loss: 0.896366
Epoch 125 -- Train loss: 0.826668 Test loss: 0.896010
Epoch 126 -- Train loss: 0.826349 Test loss: 0.895651
Epoch 127 -- Train loss: 0.826040 Test loss: 0.895291
Epoch 128 -- Train loss: 0.825737 Test loss: 0.894931
Epoch 129 -- Train loss: 0.825439 Test loss: 0.894573
Epoch 130 -- Train loss: 0.825145 Test loss: 0.894223
Epoch 131 -- Train loss: 0.824853 Test loss: 0.893881
Epoch 132 -- Train loss: 0.824562 Test loss: 0.893548
Epoch 133 -- Train loss: 0.824273 Test loss: 0.893222
Epoch 134 -- Train loss: 0.823984 Test loss: 0.892910
Epoch 135 -- Train loss: 0.823694 Test loss: 0.892612
Epoch 136 -- Train loss: 0.823403 Test loss: 0.892326
Epoch 137 -- Train loss: 0.823108 Test loss: 0.892050
Epoch 138 -- Train loss: 0.822810 Test loss: 0.891787
Epoch 139 -- Train loss: 0.822506 Test loss: 0.891533
Epoch 140 -- Train loss: 0.822197 Test loss: 0.891282
Epoch 141 -- Train loss: 0.821881 Test loss: 0.891040
Epoch 142 -- Train loss: 0.821556 Test loss: 0.890804
Epoch 143 -- Train loss: 0.821221 Test loss: 0.890571
Epoch 144 -- Train loss: 0.820874 Test loss: 0.890341
Epoch 145 -- Train loss: 0.820516 Test loss: 0.890109
Epoch 146 -- Train loss: 0.820144 Test loss: 0.889871
Epoch 147 -- Train loss: 0.819754 Test loss: 0.889626
Epoch 148 -- Train loss: 0.819346 Test loss: 0.889375
Epoch 149 -- Train loss: 0.818920 Test loss: 0.889108
Epoch 150 -- Train loss: 0.818471 Test loss: 0.888831
Epoch 151 -- Train loss: 0.818003 Test loss: 0.888546
Epoch 152 -- Train loss: 0.817513 Test loss: 0.888223
Epoch 153 -- Train loss: 0.817019 Test loss: 0.887888
Epoch 154 -- Train loss: 0.816508 Test loss: 0.887583
Epoch 155 -- Train loss: 0.815955 Test loss: 0.887259
Epoch 156 -- Train loss: 0.815380 Test loss: 0.886927
Epoch 157 -- Train loss: 0.814791 Test loss: 0.886580
Epoch 158 -- Train loss: 0.814173 Test loss: 0.886214
Epoch 159 -- Train loss: 0.813528 Test loss: 0.885841
Epoch 160 -- Train loss: 0.812854 Test loss: 0.885467
Epoch 161 -- Train loss: 0.812145 Test loss: 0.885089
Epoch 162 -- Train loss: 0.811408 Test loss: 0.884709
Epoch 163 -- Train loss: 0.810645 Test loss: 0.884316
Epoch 164 -- Train loss: 0.809856 Test loss: 0.883903
Epoch 165 -- Train loss: 0.809040 Test loss: 0.883485
Epoch 166 -- Train loss: 0.808195 Test loss: 0.883053
Epoch 167 -- Train loss: 0.807320 Test loss: 0.882614
Epoch 168 -- Train loss: 0.806422 Test loss: 0.882174
Epoch 169 -- Train loss: 0.805504 Test loss: 0.881753
Epoch 170 -- Train loss: 0.804568 Test loss: 0.881350

In [10]:
user_id = input("Enter the user_id for movie recommendations: ")
movie_list = data[data['user id'] == int(user_id)]['movie id'].to_list()
unseen_list = [int(x) for x in range(1,num_movies+1) if x not in movie_list]
unseen_list = np.array(unseen_list)
temp_x = torch.LongTensor(np.full(np.size(unseen_list),int(user_id)))
unseen_mov = torch.LongTensor(unseen_list)

In [11]:
model_2.eval()
predictions_NN = model_2(temp_x,unseen_mov)
predictions_NN=predictions_NN.squeeze()
sorted_indices = np.argsort(predictions_NN.detach().numpy())[::-1]
ordered_movies = unseen_list[sorted_indices]
ordered_ratings = predictions_NN.detach().numpy()[sorted_indices]
print("---------------Recommended movies by NeuralNetworks--------------")
i=0
for xyz in ordered_movies[:10]:
  print(map_id_movie[xyz],ordered_ratings[i])
  i=i+1

---------------Recommended movies by NeuralNetworks--------------
Safe Passage (1994) 4.8690386
Great Day in Harlem, A (1994) 4.8436623
Entertaining Angels: The Dorothy Day Story (1996) 4.8406487
Someone Else's America (1995) 4.8394794
Santa with Muscles (1996) 4.835436
Pather Panchali (1955) 4.8345876
The Deadly Cure (1996) 4.8319774
Saint of Fort Washington, The (1993) 4.8316827
Some Mother's Son (1996) 4.829162
Bitter Sugar (Azucar Amargo) (1996) 4.820065